{
  "extends": "airbnb/base",
  "rules": {
    "no-param-reassign": [2, {"props": false}],
    "strict": [2, "never"],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "arrow-parens": [2, "as-needed"],
    "no-confusing-arrow": [0],
    "no-unused-expressions": [0],
    "func-names": [0],
    "prefer-arrow-callback": [0]
  }
}
