.modal.hide.fade(data-bind='modal: form')
  .modal-header
    button.close(data-dismiss='modal') ×
    h3(data-bind='text: title')
  .modal-body
    div(data-bind='if: error')
      .alert.alert-error
        button.close(data-dismiss='alert') ×
        span(data-bind='text: error')
    form#modalForm.form-horizontal(data-bind='foreach: inputs, submit: doSubmit')
      div.control-group(data-bind='css: {error: !!error()}')
        label.control-label(data-bind='text: label, attr: {for: name}')
        .controls
          input(data-bind='value: value, attr: {id: name, name: name, type: type, placeholder: label}')
          span.help-inline(data-bind='visible: error, text: error')
  .modal-footer
    button.btn(data-dismiss='modal') Cancel
    button.btn.btn-primary(type='submit', form='modalForm', data-bind='text: submit')