sudo: false
language: node_js
node_js:
  - "6"
cache:
  directories:
    - $HOME/.npm
    - $HOME/.yarn-cache
    - node_modules
before_install:
  - npm i -g yarn --cache-min 999999999
install:
  - yarn
  - ln -s .env.test .env
script:
  - yarn run lint
  - yarn test
  - yarn run cover
  - yarn run codecov
