extends layout

block content
  .ui-layout-center
    .screen(data-bind='foreach: lines, click: focusInput')
      div(data-bind='html: $data')
    .command
      form(data-bind='submit: sendCommand')
        span.prompt >
        input(type='text', data-bind="value: command, event: {keydown: recall}")
  .ui-layout-north(data-bind='if: loadedVerb')
    include includes/editor
  include includes/modal

block script
  :coffeescript
    # on dom ready, create the view model and apply the knockout bindings
    $ ->
      ko.applyBindings new ClientView $('body'), $('.screen'), $('.command input')