doctype 5
html
  head
    title room.js editor
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400')
    link(rel='stylesheet', href='/assets/editor.css')
  body
    .ui-layout-center
      .tabs
        ul.nav.nav-tabs
          li.active: a(href='#')
            i.icon-cog
            |$player.i*nventory
            button.close.dirty •
          li: a(href='#')
            i.icon-cog
            |$root.tell
            button.close ×
          li: a(href='#')
            i.icon-cog
            |$thing.g*et t*ake gr*ab
            button.close ×
          li: a(href='#')
            i.icon-file-alt
            |[#7 Wooden Sword].description
            button.close ×
      .editor

    .ui-layout-west
      .ui-layout-west-center
        .search
          .row-fluid
            input.search-query.span12(type='text', placeholder='Filter')
        hr
        .row-fluid
          .overflow-container
            ul.nav.nav-list
              li
                span.pull-left
                  i.icon-caret-right
                a(href='#')
                  span.label.label-info #0
                  span.label $sys
                  |System Object
              li
                span.pull-left
                  i.icon-caret-down
                a(href='#')
                  span.label.label-info #1
                  span.label $root
                  |Root Class
                ul.nav.nav-list.level1
                  li
                    span.pull-left
                      i.icon-caret-down
                    a(href='#')
                      span.label.label-info #2
                      span.label $player
                      |Player Class
                    ul.nav.nav-list.level2
                      li.active
                        span.pull-left
                          i.icon-user
                        a(href='#')
                          span.label.label-inverse #3
                          span.label $wizard
                          |Gandalf
                  li
                    span.pull-left
                      i.icon-caret-right
                    a(href='#')
                      span.label.label-info #4
                      span.label $room
                      |Room Class
                  li
                    span.pull-left
                      i.icon-caret-right
                    a(href='#')
                      span.label.label-info #5
                      span.label $thing
                      |Thing Class
                  li
                    span.pull-left
                      i.icon-caret-right
                    a(href='#')
                      span.label.label-info #8
                      span.label $exit
                      |Exit Class
              li
                span.pull-left
                  i.icon-caret-right
                a(href='#')
                  span.label.label-info #21
                  span.label $util
                  |Utility Verbs

      .ui-layout-west-south
        .overflow-container
          ul.nav.nav-list
            li.nav-header Properties
            li
              a(href='#')
                i.icon-file-alt
                |color
            li
              a(href='#')
                i.icon-file-alt
                |health
            li.nav-header Verbs
            li.active
              a(href='#')
                i.icon-cog
                |tell
            li
              a(href='#')
                i.icon-cog
                |i*nventory
            li
              a(href='#')
                i.icon-cog
                |dance
            li
              a(href='#')
                i.icon-cog
                |hurt


    script(src='/socket.io/socket.io.js')
    script(src='/assets/ace/ace.js')
    script(src='/assets/editor.js')
    :coffeescript
      $ ->
        ko.applyBindings new EditorView $('body')

        element = $('.editor')[0]
        code = """
        # display a player's inventory
        names = @contents.map (i) -> i.name
        names.unshift "You are carrying:"
        player.tell names.join "\\n"
        """
        options = {mode: "coffee", theme: "clouds", value: code, css: {fontSize: "12pt", fontFamily: "\'Source Code Pro\', sans-serif"}}
        theme = options.theme || 'textmate'
        mode = options.mode || 'javascript'
        css = options.css || {}
        value = options.value

        editor = ace.edit(element)
        editor.setTheme("ace/theme/"+theme)
        session = editor.getSession()
        session.setMode("ace/mode/"+mode)
        session.setUseSoftTabs(true)
        session.setTabSize(2)
        $(element).css(css)
        editor.setValue(value, -1)