doctype 5
html
  head
    title room.js editor
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400')
    link(rel='stylesheet', href='/assets/editor.css')
  body
    .ui-layout-center
      p editor goes here
    .ui-layout-west
      .ui-layout-west-center
        .search
          .row-fluid
            input.search-query.span12(type='text', placeholder='Filter')
        hr
        .row-fluid
          .overflow-container
            ul.nav.nav-list
              li
                span.pull-left
                  i.icon-chevron-right
                  span.label.label-info #0
                  span.label $sys
                a(href='#') System Object
              li
                span.pull-left
                  i.icon-chevron-down
                  span.label.label-info #1
                  span.label $root
                a(href='#') Root Class
                ul.nav.nav-list.level1
                  li
                    span.pull-left
                      i.icon-chevron-down
                      span.label.label-info #2
                      span.label $player
                    a(href='#') Player Class
                    ul.nav.nav-list.level2
                      li.active
                        span.pull-left
                          i.icon-user.icon-white
                          span.label.label-inverse #3
                          span.label $wizard
                        a(href='#') Gandalf
                  li
                    span.pull-left
                      i.icon-chevron-right
                      span.label.label-info #4
                      span.label $room
                    a(href='#') Room Class
                  li
                    span.pull-left
                      i.icon-chevron-right
                      span.label.label-info #5
                      span.label $thing
                    a(href='#') Thing Class
                  li
                    span.pull-left
                      i.icon-chevron-right
                      span.label.label-info #8
                      span.label $exit
                    a(href='#') Exit Class
              li
                span.pull-left
                  i.icon-chevron-right
                  span.label.label-info #21
                  span.label $util
                a(href='#') Utility Verbs
      .ui-layout-west-south
        .overflow-container
          ul.nav.nav-list
            li.nav-header Properties
            li
              a(href='#')
                i.icon-file
                |color
            li
              a(href='#')
                i.icon-file
                |health
            li.nav-header Verbs
            li.active
              a(href='#')
                i.icon-cog.icon-white
                |tell
            li
              a(href='#')
                i.icon-cog
                |i*nventory
            li
              a(href='#')
                i.icon-cog
                |dance
            li
              a(href='#')
                i.icon-cog
                |hurt


    script(src='/socket.io/socket.io.js')
    script(src='/assets/ace/ace.js')
    script(src='/assets/editor.js')
    :coffeescript
      $ -> ko.applyBindings new EditorView $('body')