doctype 5
html
  head
    title room.js editor
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400')
    link(rel='stylesheet', href='/assets/editor.css')
  body
    script(type='text/html', id='TreeNodeTemplate')
      li(data-bind='visible: visible, css: {active: active}')
        span.pull-left
          i(data-bind='css: iconClass, click: toggle')
        a(href='#', data-bind='click: $root.select(id)')
          span.label.label-inverse(data-bind='html: idPresenter')
          span.label(data-bind='html: aliasPresenter')
          span(data-bind='html: namePresenter')
        ul.nav.nav-list(data-bind='visible: expanded, template: {name: "TreeNodeTemplate", foreach: children}, css: levelClass')

    .ui-layout-center
      .tabs
        ul.nav.nav-tabs
          li: a(href='#')
            i.icon-cog
            |$player.i*nventory
            button.close.dirty •
          li: a(href='#')
            i.icon-cog
            |$root.tell
            button.close ×
          li.active: a(href='#')
            i.icon-cog
            |$thing.g*et t*ake gr*ab
            button.close ×
          li: a(href='#')
            i.icon-file-alt
            |[#7 Wooden Sword].description
            button.close ×
      .toolbar.navbar.navbar-static-top
        .navbar-inner
          form.navbar-form.form-inline
            .row-fluid
              input(type='text', value='g*et t*ake gr*ab')
              select
                option none
                option(selected) this
                option any
              select
                option none
                option any
                option with/using
                option at/to
                option in front of
                option in/inside/into
                option on top of/on/onto/upon
                option out of/from inside/from
                option over
                option through
                option under/underneath/beneath
                option behind
                option beside
                option for/about
                option is
                option as
                option off/off of
              select
                option none
                option this
                option any
              label.checkbox
                input(type='checkbox')
                |hidden
              button.btn.btn-primary.pull-right
                |Save
      .editor

    .ui-layout-west
      .ui-layout-west-center
        .search
          .row-fluid
            input.search-query.span12(type='text', placeholder='Filter', data-bind='value: filter, event: {keyup: updateFilter}')
        hr
        .row-fluid
          .overflow-container
            ul.nav.nav-list(data-bind='template: {name: "TreeNodeTemplate", foreach: objects}')

      .ui-layout-west-south
        .overflow-container
          ul.nav.nav-list(data-bind='with: selectedObject')
            li.nav-header(data-bind='visible: properties().length > 0') Properties
            // ko foreach: properties
            li
              a(href='#', data-bind='click: $parent.select')
                i.icon-file-alt
                span(data-bind='text: key')
            // /ko
            li.nav-header(data-bind='visible: verbs().length > 0') Verbs
            // ko foreach: verbs
            li
              a(href='#', data-bind='click: $parent.select')
                i.icon-cog
                span(data-bind='text: name')
            // /ko


    script(src='/socket.io/socket.io.js')
    script(src='/assets/ace/ace.js')
    script(src='/assets/editor.js')
    :coffeescript
      $ ->
        ko.applyBindings (window.view = new EditorView $('body'))

        element = $('.editor')[0]
        code = """
        if @location == player
          player.tell "You're already holding \#\{@name\}."
        else
          @location = player
          player.tell "You pick up \#\{@name\}."
          player.location.announce "\#\{player.name\} picks up \#\{@name\}."
        """
        options = {mode: "coffee", theme: "clouds", value: code, css: {fontSize: "12pt", fontFamily: "\'Source Code Pro\', sans-serif"}}
        theme = options.theme || 'textmate'
        mode = options.mode || 'javascript'
        css = options.css || {}
        value = options.value

        editor = ace.edit(element)
        editor.setTheme("ace/theme/"+theme)
        session = editor.getSession()
        session.setMode("ace/mode/"+mode)
        session.setUseSoftTabs(true)
        session.setTabSize(2)
        $(element).css(css)
        editor.setValue(value, -1)