doctype 5
html
  head
    title room.js editor
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400')
    link(rel='stylesheet', href='/assets/editor.css')
  body
    script(type='text/html', id='TreeNodeTemplate')
      li(data-bind='visible: visible, css: {active: active}')
        span.pull-left
          i(data-bind='css: iconClass, click: toggle')
        a(href='#', data-bind='click: $root.selectObject')
          span.label.label-inverse(data-bind='html: idPresenter')
          span.label(data-bind='html: aliasPresenter')
          span(data-bind='html: namePresenter')
        ul.nav.nav-list(data-bind='visible: expanded, template: {name: "TreeNodeTemplate", foreach: children}, css: levelClass')

    .ui-layout-center
      .tabs
        ul.nav.nav-tabs(data-bind='foreach: tabs')
          li(data-bind='css: {active: active}')
            a(href='#', data-bind='click: $root.selectTab')
              i(data-bind='css: iconClass')
              span(data-bind='text: displayName')
              button.close(data-bind='css: {dirty: dirty}, text: closeSymbol, click: $root.closeTab')
      .toolbar(data-bind='with: selectedTab')
        .verb-toolbar(data-bind='if: type == "verb"')
          .navbar.navbar-static-top(data-bind='with: verb')
            .navbar-inner
              form.navbar-form.form-inline
                .row-fluid
                  input(type='text', data-bind='value: name')
                  select(data-bind='value: dobjarg')
                    option none
                    option(selected) this
                    option any
                  select(data-bind='value: preparg')
                    option none
                    option any
                    option with/using
                    option at/to
                    option in front of
                    option in/inside/into
                    option on top of/on/onto/upon
                    option out of/from inside/from
                    option over
                    option through
                    option under/underneath/beneath
                    option behind
                    option beside
                    option for/about
                    option is
                    option as
                    option off/off of
                  select(data-bind='value: iobjarg')
                    option none
                    option this
                    option any
                  label.checkbox
                    input(type='checkbox', data-bind='checked: hidden')
                    |hidden
                  button.btn.btn-primary.pull-right(data-bind='click: $parent.save, visible: $parent.dirty')
                    |Save
        .property-toolbar(data-bind='if: type == "property"')
          .navbar.navbar-static-top(data-bind='with: property')
            .navbar-inner
              form.navbar-form.form-inline
                .row-fluid
                  button.btn.btn-primary.pull-right(data-bind='click: $parent.save, disable: $parent.error, visible: $parent.dirty')
                    |Save
                  .error.label.label-important.pull-right(data-bind='visible: $parent.error') JSON syntax error, fix it before you can save.
      .editor(data-bind='visible: selectedTab')

    .ui-layout-west
      .ui-layout-west-center
        .search
          .row-fluid
            input.search-query.span12(type='text', placeholder='Filter', data-bind='value: filter_text, event: {keyup: updateFilter}')
        hr
        .row-fluid
          .overflow-container
            ul.nav.nav-list(data-bind='template: {name: "TreeNodeTemplate", foreach: objects}')

      .ui-layout-west-south
        .overflow-container
          ul.nav.nav-list(data-bind='with: selectedObject')
            li.nav-header(data-bind='visible: properties().length > 0') Properties
            // ko foreach: properties
            li(data-bind='css: {active: active}')
              a(href='#', data-bind='click: $parent.selectProperty, event: {dblclick: $root.openProperty}')
                i.icon-file-alt
                span(data-bind='text: key')
            // /ko
            li.nav-header(data-bind='visible: verbs().length > 0') Verbs
            // ko foreach: verbs
            li(data-bind='css: {active: active}')
              a(href='#', data-bind='click: $parent.selectVerb, event: {dblclick: $root.openVerb}')
                i(data-bind='css: iconClass')
                span(data-bind='text: name')
            // /ko


    script(src='/socket.io/socket.io.js')
    script(src='/assets/ace/ace.js')
    script(src='/assets/editor.js')
    :coffeescript
      $ ->
        window.view = new EditorView $('body')
