extends layout

block content
  .screen
    table
      tbody(data-bind='foreach: lines')
        tr
          td.name(data-bind='html: name')
          td.line(data-bind='html: line')
  .command
    form(data-bind='submit: sendCommand')
      input(type='text', data-bind="value: command")