extends layout

block content
  h1 Colors
  p Welcome to the jsmoo color test
  ul
    li: span.white white
    li: span.grey grey
    li: span.black black
    li: span.blue blue
    li: span.cyan cyan
    li: span.green green
    li: span.magenta magenta
    li: span.red red
    li: span.yellow yellow
    li: span.bold.white bold white
    li: span.bold.grey bold grey
    li: span.bold.black bold black
    li: span.bold.blue bold blue
    li: span.bold.cyan bold cyan
    li: span.bold.green bold green
    li: span.bold.magenta bold magenta
    li: span.bold.red bold red
    li: span.bold.yellow bold yellow
    li: span.underline.white underline white
    li: span.underline.grey underline grey
    li: span.underline.black underline black
    li: span.underline.blue underline blue
    li: span.underline.cyan underline cyan
    li: span.underline.green underline green
    li: span.underline.magenta underline magenta
    li: span.underline.red underline red
    li: span.underline.yellow underline yellow
    li: span.italic.white italic white
    li: span.italic.grey italic grey
    li: span.italic.black italic black
    li: span.italic.blue italic blue
    li: span.italic.cyan italic cyan
    li: span.italic.green italic green
    li: span.italic.magenta italic magenta
    li: span.italic.red italic red
    li: span.italic.yellow italic yellow
    li: span.inverse.white inverse white
    li: span.inverse.grey inverse grey
    li: span.inverse.black inverse black
    li: span.inverse.blue inverse blue
    li: span.inverse.cyan inverse cyan
    li: span.inverse.green inverse green
    li: span.inverse.magenta inverse magenta
    li: span.inverse.red inverse red
    li: span.inverse.yellow inverse yellow
    li: span.bold.inverse.white bold inverse white
    li: span.bold.inverse.grey bold inverse grey
    li: span.bold.inverse.black bold inverse black
    li: span.bold.inverse.blue bold inverse blue
    li: span.bold.inverse.cyan bold inverse cyan
    li: span.bold.inverse.green bold inverse green
    li: span.bold.inverse.magenta bold inverse magenta
    li: span.bold.inverse.red bold inverse red
    li: span.bold.inverse.yellow bold inverse yellow