extends layout

block content
  .ui-layout-center
    .ui-layout-inner-center
      .screen(data-bind='foreach: lines, click: focusInput')
        div(data-bind='html: $data')
      .command
        form(data-bind='submit: sendCommand')
          input(type='text', data-bind="value: command, event: {keydown: recall}")
    .ui-layout-inner-north
      p this is the property and code editing area
  .ui-layout-west
    button.btn(data-bind='click: refresh_objects')
      i.icon-refresh
    ul.nav.nav-list(data-bind='foreach: objects')
      li
        a(href='#', data-bind='text: name, click: load')