extends layout

block content
  .ui-layout-center
    .screen(data-bind='foreach: lines, click: focusInput')
      div(data-bind='html: $data')
    .command
      form(data-bind='submit: sendCommand')
        input(type='text', data-bind="value: command, event: {keydown: recall}")
  .ui-layout-north(data-bind='if: loadedVerb')
    include includes/editor
  include includes/modal
