extends layout

block content
  .screen(data-bind='foreach: lines')
    div(data-bind='html: $data')
  .command
    form(data-bind='submit: sendCommand')
      input(type='text', data-bind="value: command")