.options.container-fluid(data-bind='visible: preferencesPaneVisible')
  .row-fluid.form-horizontal
    h2
      i.icon-wrench
      |&nbsp;Client Preferences

    p.info
      strong Note:
      |&nbsp;Preferences are stored locally in your browser.

    h3 Appearance
    .control-group
      label.control-label(for='theme') Theme
      .controls
        select#theme(data-bind='value: theme')
          option(value='tango') Tango
          option(value='tango-light') Tango Light
    .control-group
      label.control-label(for='fancy') Fancy
      .controls
        input#fancy(type='checkbox', data-bind='checked: fancy')

    h3 Terminal
    .control-group
      label.control-label(for='space') Space output
      .controls
        input#space(type='checkbox', data-bind='checked: space')
    .control-group
      label.control-label(for='echo') Echo command
      .controls
        input#echo(type='checkbox', data-bind='checked: echo')
    .control-group
      label.control-label(for='maxHistory') Max command history
      .controls
        input#maxHistory(type='number', data-bind='value: maxHistory')
    .control-group
      label.control-label(for='maxLines') Max scrollback
      .controls
        input#maxLines(type='number', data-bind='value: maxLines')

  .row-fluid(style='padding-bottom: 10px;')
    h3 Macros

    table.table.table-condensed
      thead
        tr
          th Replace
          th With
          th
      tbody(data-bind='foreach: macros')
        tr
          td
            input(type='text', data-bind='value: replace')
          td
            input(type='text', data-bind='value: withValue')
          td.actions
            button.btn.btn-mini.btn-danger(data-bind='click: remove')
              i.icon-remove

        //- tr(data-bind='visible: macros().length == 0')
        //-   td(colspan=2) You have no macros defined.

    button.btn.btn-mini.btn-primary.pull-right(data-bind='click: addMacro')
      i.icon-plus