extends layout

block content
  include includes/preferences-pane
  .client(data-bind='css: themeClasses')
    .screen(data-bind='foreach: lines, click: focusInput')
      div(data-bind='html: $data')
    .command
      i.icon-wrench(data-bind='click: togglePreferencesPane')
      form(data-bind='submit: sendCommand')
        span.prompt &gt;
        input(type='text', autofocus=true, data-bind="value: command, event: {keydown: recall}")
  include includes/modal

block script
  :coffeescript
    # on dom ready, create the view model
    $ ->
      window.view = new ClientView $('body'), $('.client'), $('.screen'), $('.command input')