@import 'color';
@import 'spiffy';

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12pt;
  background-color: black;
  margin: 0;
}

li {
  list-style-type: none;
}

.screen {
  overflow: auto;

  table {
    border-collapse: collapse;

    td.name {
      border-right: 2px solid @black;
      padding-right: 4px;
      vertical-align: top;
    }
    td.line {
      padding-left: 4px;
    }
  }
}

.command {
  input {
    font-size: 12pt;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid @black;
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', sans-serif;
  }
}