@import 'color';
@import 'spiffy';

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12pt;
  background-color: black;
  margin: 0;
}

.screen {
  overflow: auto;
  padding-left: 4px;
  div {
    white-space: pre-wrap;
  }
}

.command {
  input {
    font-size: 12pt;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid @black;
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', sans-serif;
  }
}