//= require bootstrap
//= require codemirror
//= require codemirror_themes/twilight

@import 'color';
@import 'spiffy';
@import 'layout';

body {
  margin: 0;
}

.screen {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12pt;
  background-color: black;
  overflow: auto;
  padding-left: 4px;
  div {
    white-space: pre-wrap;
  }
}

.command {
  input {
    font-size: 12pt;
    margin: 0;
    border: none;
    padding: 2px 4px;
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', sans-serif;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;

    &:focus {
      outline: none;
    }
  }
}