@import 'flatstrap/bootstrap';
@import 'client_themes/tango';
@import 'client_themes/tango-light';
@import 'fancy';

// fix flatstrap checkboxes and radio buttons
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    border-radius: 0;
}
input[type="radio"] {
    -webkit-appearance: radio;
    border-radius: 0;
}

body {
  margin: 0;
}

.cloak {
  display: none;
}

.options {
  float: right;
  overflow: auto;
}

.screen {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 12pt;
  overflow: auto;
  padding-left: 4px;
  div {
    white-space: pre-wrap;
  }
}

.command {
  position: relative;
  border-top: 2px solid transparent;
  i {
    position: absolute;
    top: 5px;
    z-index: 100;
    cursor: pointer;

    &.icon-wrench {
      right: 10px;
    }
    &.icon-off {
      right: 30px;
    }
  }
  form {
    margin: 0;
    .prompt {
      float: left;
      padding: 2px 4px;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 12pt;
    }
    input {
      position: absolute;
      margin: 0;
      border: none;
      padding: 2px 4px;
      font-family: 'Source Code Pro', sans-serif;
      font-size: 12pt;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;

      &:focus {
        outline: none;
      }
    }
  }
}