//= require bootstrap

.ui-layout-pane {
  overflow: hidden;
}

.ui-layout-resizer {
  background: gray;

  &.ui-layout-resizer-open-hover,
  &.ui-layout-resizer-dragging {
    background-color: black;

    &.ui-layout-resizer-dragging-limit {
      background-color: red;
    }
  }

  .ui-layout-toggler {
    background-color: darkgray;

    &.ui-layout-toggler-hover {
      background-color: blue;
    }
  }
}

ul.indented {
  margin-left: 16px;
}