!!!
html
  head
    meta(charset='utf8')
    title room.js editor
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400')
    link(rel='stylesheet', type='text/css', href='/css/editor.css')
    script(type='text/javascript', src='/js/app_top.js')
  body.cloak
    block content
    //- script(src='/js/ace/ace.js')
    script(type='text/javascript', src='/js/editor.js')
    block script